doctype 5
html(lang="fr")
    head
      link(rel="stylesheet", href="editor.css")
      title IDEHEY 
    body.ide
        .microalg
          nav.microtabs
            ul.microtabs-items
              li.microtabs-item
                a.microtabs-link.microtabs-link--active(href='#') Onglet 1
              li.microtabs-item
                a.microtabs-link(href='#') Onglet 2
              li.microtabs-item
                a.microtabs-link(href='#') Onglet 3
          .micromsg.micromsg--warn(role="alert")
            .micromsg-cartouche
                .icn.icn--warn.micromsg-icn
            .micromsg-body
              header.micromsg-heading
                h2.micromsg-title Achtüng !
              .micromsg-content
                p Lorem ipusm porro quisquam deserunt nesciunt vitae expedita porro quisquam deserunt nesciunt vitae expedita

          .micromsg.micromsg--info(role="alert")
            .micromsg-cartouche
              .icn.icn--info.micromsg-icn
            .micromsg-body
              header.micromsg-heading
                h2.micromsg-title Good boy je teste un titre plus long pour voir ce que ça donne sur plusieurs lignes
              .micromsg-content
                p Lorem ipusm porro quisquam deserunt nesciunt vitae expedita porro quisquam deserunt nesciunt vitae expedita
          |     Lorem 
          i ipsum  
          b
            i dolor sit
          |  amet,
          |     consectetur 
          b adipisicing
          |  elit. Commodi, 
          |     porro quisquam deserunt nesciunt vitae expedita 
          span.c1 couleur 1
          |  fugiat cumque, 
          |     pariatur vel 
          span.c2 couleur 2
          | .
          |     Quae sit a nulla optio, beatae!
          br
          span.c3 Couleur 3
          | ,
          |     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis ex vel assumenda sunt veritatis temporibus quaerat facere nam natus magni similique explicabo quos delectus, exercitationem culpa repellat? Facere, velit.
          a(href='#') Hey je suis un lien
          p MicroAlg
                
        .microalg.theme--light
          nav.microtabs
            ul.microtabs-items
              li.microtabs-item
                a.microtabs-link.microtabs-link--active(href='#') Onglet 1
              li.microtabs-item
                a.microtabs-link(href='#') Onglet 2
              li.microtabs-item
                a.microtabs-link(href='#') Onglet 3
          .micromsg.micromsg--warn(role="alert")
            .micromsg-cartouche
                .icn.icn--warn.micromsg-icn
            .micromsg-body
              header.micromsg-heading
                h2.micromsg-title Erreur
              .micromsg-content
                p Lorem ipusm porro quisquam deserunt nesciunt vitae expedita porro quisquam deserunt nesciunt vitae expedita
          .micromsg.micromsg--info(role="alert")
            .micromsg-cartouche
                .icn.icn--info.micromsg-icn
            .micromsg-body
              header.micromsg-heading
                h2.micromsg-title Well done good sir
              .micromsg-content
                p Lorem ipusm porro quisquam deserunt nesciunt vitae expedita porro quisquam deserunt nesciunt vitae expedita
  
          |     Lorem 
          i ipsum  
          b
            i dolor sit
          |  amet,
          |     consectetur 
          b adipisicing
          |  elit. Commodi, 
          |     porro quisquam deserunt nesciunt vitae expedita 
          span.c1 couleur 1
          |  fugiat cumque, 
          |     pariatur vel 
          span.c2 couleur 2
          | .
          |     Quae sit a nulla optio, beatae!
          br
          span.c3 Couleur 3
          | ,
          |     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis ex vel assumenda sunt veritatis temporibus quaerat facere nam natus magni similique explicabo quos delectus, exercitationem culpa repellat? Facere, velit.
          a(href='#') Hey je suis un lien
          p MicroAlg

