:root {

  /* Proportions */
  --step: .5rem;
  --labor-font-size: 1rem;
  --title-font-size: 1.5rem;

  /* Couleurs communes */
  --grey-darker:  0, 0, 0;       /* Jack Black */
  --grey-dark:    40,40,40;
  --grey:         60,60,60;
  --grey-light:   240,240,240;
  --grey-lighter: 255,255,255;  /* Jack White */
 
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


}




/*
 * Déclaration des thèmes
 *
 * @NOTE : Pour changer le thème de l’éditeur, simplement
 * ajouter la class `.theme--light` sur l’élément .microalg
 * Thème sombre par défaut.
 *
 */

.microalg {
  --bg-color:      var(--grey-dark);
  --text-color:    var(--grey-lighter);
  --c1:            100,255,170; /* #64FFAA */
  --c2:            255,120,100; /* #FF7864 */
  --c3:            40,200,255;  /* #28DCFF */
  --c4:            255,200,90;  /* #FFC85A */
  --links:         var(--c1);
  --links-hover:       var(--text-color);
  --msg-icn-color: var(--grey-darker);
}

.theme--light {
  --bg-color:      var(--grey-light);
  --text-color:    var(--grey);
  --c1:            40,190,70; /* #28BE46 */
  --c2:            220,60,0;  /* #DC3C00 */
  --c3:            0,145,255; /* #0091FF */
  --c4:            255,100,40;/* #FF8700 */
  --links:         var(--c1);
  --links-hover:   var(--text-color);
  --msg-icn-color: var(--grey-lighter);
}

.micromsg--warn {
  --msg-bg :         var(--c4);
  --msg-cart-bg :    var(--c4);
  --msg-cart-color : var(--msg-icn-color);
  --msg-title :      var(--c4) 
}

.micromsg--info {
  --msg-bg :         var(--c1);
  --msg-cart-bg :    var(--c1);
  --msg-cart-color : var(--msg-icn-color);
  --msg-title :      var(--c1) 
}


/*
 * Application des thèmes
 *
 */

.ide {
  background-color: rgb(40,40,40);
  padding: 0;
  margin: 0;
}

.microalg {
  padding:  1rem;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-color));
}


/* Liens */
.microalg a {
  text-decoration: none;
}

.microalg a:hover {
  box-shadow:
    inset 0 0 0 0 transparent,
    0 .1em 0 0 rgba(var(--c4), 1);
}




/*
 * Onglets
 *
 */

.microtabs {
  margin-bottom: .5rem;
  font-weight: bold;
}

.microtabs-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.microtabs-item {
  display: inline-block;
}

.microtabs-link {
  display: inline-block;
  padding-bottom: 1rem;
  margin-left: 1.5rem;
  color: rgb(var(--links));
  transition: all .2s;
}

.microtabs-link:hover,
.microtabs-link:focus {
  color: rgb(var(--links-hover));
}

.microtabs-link--active {
  box-shadow: 0 .25em 0 0 currentColor;
}

/*
 * Icones
 *
 */

.icn {
  content: "icn";
  display: inline-block;
  text-align: center;
}

.icn--info:after {
  content: "i";
}

.icn--warn:after {
  content: "!";
}

/*
 * Messages
 *
 */

.micromsg {
  display: flex;
  background-color: rgba(var(--msg-bg), .2);
  margin-bottom: 1rem;
}

.micromsg-heading {}

.micromsg-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: var(--title-font-size);
  margin-bottom: .5rem;
  color: rgb(var(--msg-title));
}

.micromsg-body {
  padding: 1rem;
}

.micromsg-body p {
  margin: 0
}

.micromsg-body p + p {
  margin-top: .5rem
}

.micromsg-cartouche { 
  font-weight: bold;
  padding-top: 1rem;
  color: rgb(var(--msg-cart-color));
  background-color: rgb(var(--msg-cart-bg));
}

.micromsg-icn {
  padding-left: .5rem;
  padding-right: .5rem;
  color: rgb(--var(--msg-cart-color));
  font-size: 1.5rem;
}



/*
 * Syntaxe
 *
 */


.c1 { color: rgb(var(--c1)) }
.c2 { color: rgb(var(--c2)) }
.c3 { color: rgb(var(--c3)) }
.c4 { color: rgb(var(--c4)) }



